.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.poza {
  width: 400px;
 }
     
 .App-poza {
    animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-produs{
  background-color: rgb(31, 29, 29);
  /* border-style: solid; */
  color: white;
  display: inline-block;
  vertical-align: top;
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 30px;
 padding-bottom: 20px;
    
}
.arome-text {
  color: rgb(121, 93, 93);
}

.header-display {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: rgb(12, 11, 11);
  color: white;
  
}
.tara-text{
  color: aquamarine;

}

